<section class="blog_section layout_padding">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h2>
        From Our Blog
      </h2>
    </div>
    <div class="row" >
      <div class="col-md-6" *ngFor="let item of blogList">
        <div class="box">
          <div class="img-box">
            <img [src]="'http://localhost:3000/'+item.imageUrl" alt="">
          </div>
          <div class="detail-box">
            
            <p>
             {{item.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>